<button class="btn">@Html.ActionLink("View Sections","")</button>
<button class="btn">@Html.ActionLink("View Subject", "")</button>
<button class="btn">@Html.ActionLink("View Students", "")</button>
<button class="btn">@Html.ActionLink("View Teachers", "")</button>