@{
    ViewBag.Title = "Start Up";
}


<body>
    <br /><br /><br /><br />

        <div class="slider">
            <center><img class="mySlides" src="~/Content/Images/1.jpg"></center>
            <center><img class="mySlides" src="~/Content/Images/2.jpg"></center>
            <center><img class="mySlides" src="~/Content/Images/3.jpg"></center>
        </div>
    <script src="~/Scripts/MyScript.js"></script>
</body>